@media all and (min-width: 1125px) {
  .scroller {
    width: 880px;
    margin: 0 auto;
  }

  .block__options li {
    display: block;
    float: left;
    width: 50%;
    height: 10px;
  }
  .block__options li:first-child {
    padding-right: 5px;
  }
  .block__options li:last-child {
    padding-left: 5px;
  }

  .project-last__list input[type='checkbox']:checked ~ ul.block__options {
    height: 180px;
  }
}
