.fa-plus-circle {
  font-size: 17px;
  color: #777777;
}

.fa-bars,
.fa-flag,
.fa-phone {
  color: #c90026;
}

.fa-flag,
.fa-phone {
  font-size: 15px;
}

.fa-caret-down {
  font-size: 10px;
}

.fa-public {
  position: relative;
  display: inline-block;
  font: normal 14px/1 'Arail';
}
.fa-public::before {
  position: absolute;
  top: -12px;
  left: 0;
  display: block;
  padding: 3px 6px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  content: 'public';
  color: #c90026;
  background-color: white;
  border: 1px solid #c90026;
  border-radius: 5px;
}
