.page-tabs {
  min-width: 290px;
  padding: 0;
  margin: 0 auto;
  font-size: 0;
}
.page-tabs .tab-content {
  display: none;
}
.page-tabs input {
  display: none;
}
.page-tabs input:checked + label {
  color: #555;
  border: 1px solid #d7d7d7;
  border-bottom: none;
  background: #f2f2f2;
}
.page-tabs .page-tabs__label {
  background-color: #d7d7d7;
  border: 1px solid #d7d7d7;
  border-bottom-width: 0;
  border-radius: 10px 10px 0 0;
  border-right-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  height: 38px;
  line-height: 27px;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 50%;
}
.page-tabs .page-tabs__label::after {
  font-family: fontawesome;
  font-weight: normal;
  padding-left: 5px;
  color: #c90026;
  font-size: 15px;
}
.page-tabs .page-tabs__label[for*="1"]::after {
  content: "\f024";
}
.page-tabs .page-tabs__label[for*="2"]::after {
  content: "\f095";
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
  display: block;
}

.tab__functional {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #d7d7d7;
  border-top: none;
  width: 100%;
}

.container {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #d7d7d7;
}

.tab__user {
  margin-top: 8px;
  border: 1px solid #d7d7d7;
}

.tab__user_shadow {
  -webkit-box-shadow: 2px 2px 5px 0 rgba(162, 162, 162, 0.51);
  -moz-box-shadow: 2px 2px 5px 0 rgba(162, 162, 162, 0.51);
  box-shadow: 2px 2px 5px 0 rgba(162, 162, 162, 0.51);
}

.user-info__professional {
  width: 100%;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 12px;
  color: #d3264e;
}
.user-info__professional .date {
  position: relative;
  display: block;
  float: right;
  padding-right: 8px;
  font-size: 9px;
  color: #888888;
}
.user-info__professional .new {
  display: block;
  float: right;
  padding: 0 12px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  color: white;
  background-color: #c90026;
  border-radius: 6px;
}
.user-info__professional .new_viewed {
  background-color: #888888;
}

.user-info__name {
  padding: 3px 0 0;
  font-weight: bold;
  font-size: 18px;
}

.user-info__company {
  padding: 3px 0;
  font-weight: bold;
  font-size: 14px;
}
.user-info__company span {
  display: inline-block;
  padding: 0 11px;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: bold;
  line-height: 16px;
  color: #c90026;
  background-color: white;
  border: 1px solid #c90026;
  border-radius: 5px;
}

.user-info__start-date {
  font-size: 12px;
}
.user-info__start-date span {
  color: #888888;
}

.user-info__comment {
  font-size: 12px;
  line-height: 1.4em;
  color: #d3264e;
  letter-spacing: -1px;
}

.user-avalibaly__title {
  text-decoration: underline;
  font-size: 12px;
  color: #d3264e;
}

text
.avalibaly-info {
  padding-left: 17px;
}
